<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <title></title>
    <!-- <link rel="stylesheet" type="text/css" href="/static/games/css/public.css"/> -->
    <link rel="stylesheet" type="text/css" href="/static/games/css/anchor.css"/>
</head>
<body>
    <div class="navigation">
        <a class="homepage" href="/index.php/task/usercenter/taskcenter">
            <span>首页</span>
        </a>
        <!-- <a class="help" href="javascript:;">
            <span>帮助</span>
        </a> -->
        <div class="theme">主播专区</div>
    </div>

    <div class="full-head"></div>
    <div class="box first">
        <div class="container">
            <div class="lcon">
                <div class="game-icon"><img src="/static/games/images/gamelist/icon.png"></div>
            </div>
            <div class="playing">
                <div class="playing-game">
                    <!-- <div class="munch"></div> -->
                    <a href="http://v.6.cn/?src=ummeda5062"><div class="play-btn look">开始看</div></a>
                </div>
            </div>
            <div class="explain">
                <div class="information">
                    <div class="title">
                        <span class="game-name">看美女主播轻松得通花</span>
                        <!-- <span class="gamerule">游戏规则</span> -->
                    </div>
                    <div class="record rulecontent" style="padding-left:0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">看美女直播得通花</div>
                </div>
            </div>
        </div>
    </div>

    <script>
        //解决移动端无法识别:active伪类的问题
        document.body.addEventListener('touchstart', function () { });
    </script>
</body>
</html>