<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/games/css/Gamelist.css?v=1000"/>
    <script type="text/javascript" src="/static/task/js/jquery-1.9.1.min.js?v=1001"></script>
    <script type="text/javascript" src="/static/games/ajax/request_common.js"></script>
    <script type="text/javascript" src="/static/games/ajax/request_list.js?v=1004"></script>
</head>
<body>
    <div class="navigation">
        <div class="homepage">
            <a href="/index.php/task/usercenter/taskcenter"><span>首页</span></a>
        </div>
        <div class="help">
            <a href="http://mp.weixin.qq.com/s?__biz=MzA3NTA0NTg3OA==&mid=503255396&idx=1&sn=fb638e5f372b5997f92813fb7f75005a#rd"><span>帮助</span></a>
        </div>
        <div class="theme">游戏列表</div>
    </div>

    <div class="full-head"></div>
    <div style="margin-top:5px;"></div>
    <div class = 'gamelist'>
        <div class="box" id = 'beach' style="height:95px;">
            <div class="container beachc" style="border-bottom:0px;">
                <!-- <div class="lcon">
                    <div class="game-icon"><img src="/static/games/images/gamelist/plage.png"></div>
                </div>
                <div class="playing">
                    <div class="playing-game">
                        <div class="munch">免费</div>
                        <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx29a596b5eac42c22&redirect_uri=http%3A%2F%2Fwx.recytl.com%2Fview%2Fdi%2Findex.html&response_type=code&scope=snsapi_userinfo&state=1#wechat_redirect"><div class="play-btn">开始玩</div></a>
                    </div>
                </div>
                <div class="explain">
                    <div class="information">
                        <div class="title">
                            <span class="game-name">海滩英雄</span>
                        </div>
                        <div class="rulecontent">一款射击类的游戏,本款游戏讲述的是...</div>
                        <div class="gameplayer">
                            <div class="player"><span></span><span class="number"></span></div>
                            <div class="record" style="padding-left:0;"><span>当前关卡</span><span class="score"></span></div>
                        </div>
                    </div>
                </div> -->
            </div>
            <!-- <div class="news">
                <div class="news_ng">
                    <div class="best">
                        <div class="fraction"><span>我的今日最佳：</span><span>分</span></div>
                    </div>
                </div>
                <div class="news_nf">
                    <div class="reward">
                        <div class="tips"><span>我的今日奖励：</span><span>通花</span></div>
                    </div>
                </div>
            </div> -->
        </div>


    </div>
    <div class="container">
        <div class="lcon">
            <div class="game-icon"><img src="/static/games/images/gamelist/zhunp.png"></div>
        </div>
        <div class="playing">
            <div class="playing-game">
                <div class="munch"></div>
                <a href="/view/activity/turntable.html"><div class="play-btn">开始玩</div></a>
            </div>
        </div>
        <div class="explain">
            <div class="information">
                <div class="title">
                    <span class="game-name">幸运大转盘</span>
                    <!-- <span class="gamerule">游戏规则</span> -->
                </div>
                <div class="gameplayer luck">
                    <!-- <div class="player"><span></span><span class="number"></span></div> -->
                    <div class="record" style="padding-left:0;"><span>每日免费一次抽大奖</span></div>
                </div>
            </div>
        </div>

    </div>
    <div class="container" style="margin:12px 0px 12px 0px;">
        <div class="lcon">
            <div class="game-icon"><img src="/static/games/images/gamelist/233.png"></div>
        </div>
        <div class="playing">
            <div class="playing-game">
                <!-- <div class="munch"></div> -->
                <a href="http://www.2255.cn/guildpromotion26ntib.htm"><div class="play-btn">开始玩</div></a>
            </div>
        </div>
        <div class="explain">
            <div class="information">
                <div class="title">
                    <span class="game-name">2255棋牌游戏</span>
                    <!-- <span class="gamerule">游戏规则</span> -->
                </div>
                <div class="record rulecontent" style="padding-left:0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">（公会推广码:26ntib）2255棋牌游戏官网是一个正规的棋牌游戏平台。2255棋牌游戏大厅每天都会开设各种免费的棋牌比赛,包含斗地主、二人麻将、德州扑克等经典棋牌游戏</div>
            </div>
        </div>
    </div>
    <!-- <div class="container" style="margin:12px 0px 12px 0px;">
        <div class="lcon">
            <div class="game-icon"><img src="/static/task/task_two/img/eleplay.jpg"></div>
        </div>
        <div class="playing">
            <div class="playing-game">
                <a href="http://www.91wyt.cn/Registered.aspx?uid=4632950686BD55D2"><div class="play-btn">开始玩</div></a>
            </div>
        </div>
        <div class="explain">
            <div class="information">
                <div class="title">
                    <span class="game-name">同城娱乐棋牌游戏中心</span>
                </div>
                <div class="record rulecontent" style="padding-left:0;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">各种好玩的棋牌和捕鱼游戏尽在同城娱乐游戏中心</div>
            </div>
        </div>
    </div> -->
    <script>
        //解决移动端无法识别:active伪类的问题
        document.body.addEventListener('touchstart', function () { });
    </script>
</body>
</html>