<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title></title>
		<link rel="stylesheet" href="../../static/gold/css/public.css" />
		<link rel="stylesheet" href="../../static/newmobile/css/history.css" />
	</head>
	<body>
		<header>
			<a href="javascript:history.go(-1);" class="back header_a"></a>
			<a href="m_index.html" class="home header_a"></a>
			<h1 class="header_h1">搜索手机型号</h1>
		</header>
		<div class="sous">
			<input type="text" placeholder="请输入关键字搜索" class="inp"/>
			<span class="btn_ss">搜索</span>
		</div>
		<div class="message">
			<a href="javascript:;" class="recond">iPhone 6s Plus</a>
		</div>
	</body>
	<script>
		window.onload=window.onresize=function(){
			document.documentElement.style.fontSize=window.innerWidth/16+'px';
		};
	</script>
</html>
