body{width:100%; height:100%; position: relative;}
/*=== luxuryCon ===*/
#luxuryCon{ margin: 0 0 0 200px; padding: 0 20px;}
#luxuryCon .orderSearch{ width: 100%; height: 100px;}
.orderSearch h3{ display: inline-block; height: 100px; line-height: 100px; color: #888; font-size: 18px;}
.searchInput{ width: 330px; height: 48px; line-height: 48px; position: relative; margin: 25px 2% 0 2%;}
.searchInput input{ width: 330px; text-indent: 20px; padding: 0 60px 0 0; border: 1px solid #ccc;}
.searchInput .butn{ cursor: pointer; width: 60px; height: 50px; display: inline-block; position: absolute; right: 0px; top: 0px; background:#7db3ff url(../images/spiritPic.png) no-repeat -86px -122px;}
/*自定义下拉菜单*/
.downSelect { margin: 30px 15px 0 40px; width: 205px; position:relative;  border:1px solid #ccc; position: relative;}
.downSelect a { text-decoration:none; color: #666; display:block; width: 2.5px; height: 40px; line-height: 40px; }
.downSelect .selected { padding: 0 0 0 10px; width: 205px;  }
.myUl { border:1px solid #ccc; border-top: none; display: none; position:absolute; top: 41px; left: -2px; z-index: 100; background: #fff; }
.myUl li{ border-bottom: 1px solid #ccc;}
.myUl a { padding: 0 0 0 10px; width: 205px; }
.myUl a:hover { background: #7db3ff; color: #fff; }
.downSelect .current a { background: #7db3ff; color: #fff;}
.downSelect .butn{ cursor: pointer; width: 50px; height: 42px; display: inline-block; position: absolute; right: -2px; top: -1px; z-index: 10; background:#7db3ff url(../images/spiritPic.png) no-repeat -89px -76px;}
.addOrder{ width: 150px; height: 50px; margin: 25px 0 0 2%; border: 1px solid #ccc;}
.addOrder a{ display: block; text-align: right; color: #666; width: 134px; height: 50px; line-height: 50px; padding: 0 16px 0 0; background: url(../images/spiritPic.png) no-repeat -83px 14px;}
/*=== luxuryBox === luxuryTitle*/
.luxuryBox,.luxuryBoxAdd{ width: 100%;}
.luxuryBox h3,.luxuryBoxAdd h3,.luxuryBoxRevise h3{ display: inline-block; height: 50px; color: #888; font-size: 18px;}
.luxuryTitle{ height: 58px; border-top: 1px solid #ccc; border-left: 1px solid #ccc;}
.luxuryTitle ul li{ width:11.1%;float: left; height: 58px; line-height: 58px; text-align: center; color: #333; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; background: #ebebeb;}
/* .luxuryTitle ul li:nth-of-type(1),.luxuryTitle ul li:nth-of-type(8),.luxuryInfo ul li:nth-of-type(1),.luxuryInfo ul li:nth-of-type(8){ width: 20%;}
.luxuryTitle ul li:nth-of-type(6),.luxuryTitle ul li:nth-of-type(7),.luxuryInfo ul li:nth-of-type(6),.luxuryInfo ul li:nth-of-type(7){ width: 20%;}
.luxuryTitle ul li:nth-of-type(2),.luxuryTitle ul li:nth-of-type(3),.luxuryTitle ul li:nth-of-type(4),.luxuryTitle ul li:nth-of-type(5),.luxuryInfo ul li:nth-of-type(2),.luxuryInfo ul li:nth-of-type(3),.luxuryInfo ul li:nth-of-type(4),.luxuryInfo ul li:nth-of-type(5){ width: 20%;} */
.luxuryBoxAdd .luxuryTitle ul .li:nth-of-type(2),.luxuryBoxAdd .luxuryTitle ul .li:nth-of-type(3),.luxuryTitle ul .li:nth-of-type(4),.luxuryBoxAdd .luxuryInfo ul .li:nth-of-type(2),.luxuryBoxAdd .luxuryInfo ul .li:nth-of-type(3),.luxuryBoxAdd .luxuryInfo ul .li:nth-of-type(4){ width: 20%;}
.conHeight{overflow-y: auto;}
/*luxuryInfo*/
.luxuryInfo{ height: auto; }
.luxuryInfo ul{border-left: 1px solid #ccc;}
.luxuryInfo ul li{  width:11.1%;float: left; height: 50px; line-height: 50px; text-align: center; color: #666; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; cursor: pointer;}
.luxuryInfo ul li:last-of-type{color:#31B0D5}
.luxuryInfo .infoEdit a{ display: block; width: 30px; height: 44px;}
.luxuryInfo .infoEdit .revise{ background: url(../images/spiritPic.png) no-repeat -100px -38px; margin: 0 0 0 18%;}
.luxuryInfo .infoEdit .no{  background: url(../images/spiritPic.png) no-repeat -100px -237px; margin: 0 18% 0 0;}
/*=== deleteAlert ===*/
.grayBg{ display: none; width: 100%; height: 100%; background: rgba(0,0,0,0.5); position: fixed; z-index: 20;}
.deleteAlert{ display: none; width: 558px; height: 308px; background: #fff; position: fixed; left: 50%; top: 50%; margin: -150px 0 0 -280px; z-index: 21;}
.deleteAlert i{ display: block; width: 30px; height: 30px; background: url(../images/spiritPic.png) no-repeat 0px -248px; position: absolute; right: 5px; top: 10px; cursor: pointer;}
.deleteAlert span{ display: block; width: 60px; height: 60px; margin: 40px auto 30px; background: url(../images/spiritPic.png) no-repeat -84px -303px;}
.deleteAlert p{ color: #666; font-size: 20px; width: 100%; text-align: center;}
.deleteAlert a{ display: block; font-size: 20px; color: #fff; margin: 40px auto 0; width: 200px; height: 50px; line-height: 50px; text-align: center; background: #f44242;}
/*=== pageNumber ===*/
.pageNumber{ width:400px; margin: 20px auto 0;}
.pageNumber .pagination li{ background: #fff; float: left; height: 30px; margin: 0 20px 0 0;} 
.pageNumber .pagination li a{display: block; font-size: 14px; color: #7db3ff; height: 30px; background: #fff;} 
/*======================================  订单添加  =========================================*/
.luxuryInfo .infoIs a{ display: block; width: 30px; height: 44px;}
.luxuryInfo .infoIs .addYes{background: url(../images/spiritPic.png) no-repeat -170px -240px; margin: 6px 0 0 16%; }
.luxuryInfo .infoIs .addNo{background: url(../images/spiritPic.png) no-repeat -100px -240px; margin: 6px 16% 0 0;}
.blueBorder{ border: 1px solid #7db3ff; margin: 1px 0 0 0;}
.blueBorder ul li:nth-of-type(4),.blueBorder ul li:nth-of-type(5),.blueBorder ul li:nth-of-type(6),.blueBorder ul li:nth-of-type(7){
	cursor: pointer;
}
.luxuryBoxAdd .luxuryList .luxuryTitle ul .li{ width: 20%; color: red;}
.luxuryBoxAdd .luxuryList .luxuryInfo ul .li{ width: 20%;}
/*自定义下拉菜单*/
.downSelectAdd,.downSelectRevise{ position:relative; width: 100%;}
.downSelectAdd a,.downSelectRevise a{ text-decoration:none; color: #666; display:block; width: 100%; height: 50px;}
.downSelectAdd .selectedAdd,.downSelectRevise .selectedRevise{ background: url(../images/downlist.png) no-repeat 97% center; }
.myUlAdd,.myUlRevise { width: 100%; border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc; border-top: none; display: none; position:absolute; top: 50px; left: 0px; background: #fff; }
.luxuryBoxAdd .luxuryInfo .myUlAdd li,.luxuryBoxRevise .luxuryInfo .myUlRevise li{!important float: none; border-bottom: 1px solid #ccc; width: 100%; height: 50px; border-right: none;}
.myUlAdd a,.myUlRevise a { width: 100%; height: 50px; }
.myUlAdd a:hover,.myUlRevise a:hover { background: #7db3ff; color: #fff; }
.downSelectAdd .current a,.downSelectRevise .current a { background: #7db3ff; color: #fff;}
/*======================================  订单修改  =========================================*/
.reviseTitle .btns a{ display: block; width: 80px; height: 30px; line-height: 30px; text-align: center; color: #fff; margin: 0 0 0 30px; border-radius: 3px;}
.reviseTitle .btns .save{ background: #7db3ff;}
.reviseTitle .btns .noSave{ background: #f44242;}
/*orderTime*/
.orderTime{ margin: 50px  0 0 0;}
.ordertimeTitle,.ordertimeInfo { width:100%; border-top: 1px solid #ccc; border-left: 1px solid #ccc;}
.ordertimeInfo { border-top: none;}
.ordertimeTitle ul li,.ordertimeInfo ul li{ float: left; width: 25%; text-align: center; height: 58px; line-height: 58px; color: #333; background: #ebebeb; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc;}
.ordertimeInfo ul li{ background: #fff;}
.reviseInput{ display: inline-block; width: 99.9%; text-align: center; height: 48px; line-height: 48px;}
.luxuryBoxRevise .luxuryTitle ul li{ width: 20%;}
.luxuryBoxRevise .luxuryInfo ul li{ width: 20%;}
/*王静*/
.jBtn{width: 105px; height: 42px; background: #7db3ff; float: left; text-align: center; line-height: 42px; color: #ffffff; margin-top: 30px; }
.shadow {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 999;
	background: rgba(179,179,179,.5);
	display: none;
	top: 0;
	left: 0;
}
.shadow .shadowDiv{
	position: absolute;
	width: 450px;
	height: 260px;
	background: #ffffff;
	border-radius: 10px;
	left: 50%;
	top: 50%;
	margin-left: -225px;
	margin-top: -130px;
}
.shadowP{
	width: 100%;
	height:95px;
	line-height: 50px;
	font-size: 20px;
	text-align: center;
	color: #676767;
	padding-top: 30px;
	padding-bottom: 15px;
	float: left;
	display: block;
}
.shadJL{
	float: left;
}
.shadJL p{
	height: 40px;
	line-height: 40px;
	float: left;
	color: #676767;
	margin-left: 100px;
	font-size: 20px;
	margin-right: 20px;
}
.shadJL input{
	height: 40px;
	line-height: 40px;
	float: left;
	color: #676767;
	border: solid 1px #dcdcdc;
	border-radius: 5px;
	padding-left: 10px;
	width: 170px;
}
.shadowBtn{
	float: left;
	width: 100%;
	padding-top: 40px;
}
.shadowBtn a{
	width: 130px;
	height: 40px;
	border: solid 1px #31B0D5;
	display: block;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	border-radius: 5px;
}
.shadowBtn .shadowA{
	margin-left: 70px;
	float: left;
}
.shadowBtn .shadowSure{
	margin-right: 70px;
	float: right;
}
.shadowBtn a:hover{
	color: #ffffff;
	background: #31B0D5;
}
/*下拉菜单滚动滚动*/
.downScroll{ height: 310px; overflow-y: auto;}
@media only screen and (min-width: 1024px) and (max-width: 1366px){
	#luxuryCon { margin: 0 0 0 150px;}
}
