.box{
    padding: 25px 30px 0px 30px;
    height: auto;
}
.box .title{
    width:100%;
    height:16px;
    line-height: 16px;
    font-size:16px;
    margin-bottom:20px;
}
.sysTitle{
    width: 100%;
    height: 35px;
    border-bottom: 2px solid #e0e0e0;
    margin-bottom:28px;
}
.title01,.title02{
    cursor: pointer;
    width: 140px;
    height: 35px;
    line-height: 35px;
}
.sysTitle .title01 span,.sysTitle .title02 span{
    height: 14px;
    margin: 0 0 0 16px;
    line-height: 14px;
    text-align: center;
    font-size: 14px;
    color: #666;
    padding: 0 0 0 9px;
}
.sysTitle .current{
    border: 2px solid #e0e0e0;
    border-bottom: 2px solid #fff;
}
.sysTitle .current span{
    border-left: 3px solid #ff7160;
}
.tabulation{
    width:100%;
    height:auto;
}
#phoneRecover{
    display:none;
}
.tabulation .indication{
    width:100%;
    height:40px;
    background-color: #F1F1F1;
    margin-bottom: 20px;
}
.tabulation .raise{
    width:100%;
    height:14px;
    line-height: 14px;
    font-size:14px;
    margin:13px 0px;
}
.tabulation .raise .num{
    margin-left:12px;
    width:12.8%;
    height:14px;
    border-left:1px solid #EBEBEB;
    padding-left:6px;
}
.tabulation .raise .tel{
    width:12%;
    height:14px;
    border-left:1px solid #EBEBEB;
    padding-left:6px;
}
.tabulation .raise .name{
    width:14%;
    height:14px;
    border-left:1px solid #EBEBEB;
    padding-left:6px;
}
.tabulation .raise .price{
    width:8.5%;
    height:14px;
    border-left:1px solid #EBEBEB;
    padding-left:6px;
}
.tabulation .raise .sprice{
    width:8.5%;
    height:14px;
    border-left:1px solid #EBEBEB;
    padding-left:6px;
}
.tabulation .raise .other{
    width:8%;
    height:14px;
    border-left:1px solid #EBEBEB;
    padding-left:6px;
}
.tabulation .raise .htime{
    width:14%;
    height:14px;
    border-left:1px solid #EBEBEB;
    padding-left:6px;
}
.tabulation .raise .dtime{
    width:14.5%;
    height:14px;
    border-left:1px solid #EBEBEB;
    padding-left:6px;
}
.tabulation .write{
    width:100%;
    height:32px;
}
.tabulation .write .entry{
    width:6.3%;
    height:32px;
    line-height: 32px;
    padding:0px 0px 0px 8px;
    margin:0px 2% 0px 0px;
    font-size:12px;
    border:1px solid #E0E0E0;
    outline:none;
    font-family:'Microsoft Yahei';
}
#number , #number1{
    width:12%;
}
#tel , #tel1{
    width:9.5%;
}
#names , #names1{
    width:12.5%;
}
#recover , #recover1{
    width:9%;
}
#stime , #stime1{
    width:12.8%;
}
.tabulation .conserve{
    width:80px;
    height:36px;
    line-height: 36px;
    text-align: center;
    font-size:14px;
    color:#ffffff;
    background-color: #93C0FF;
    border-radius: 3px;
    box-shadow:0px 2px 5px #dddddd;
    outline:none;
    font-family:'Microsoft Yahei';
    margin:0px;
    padding:0px;
}
.tabulation .listing{
    width:100%;
    height:auto;
    float:left;
}
.tabulation .listing .nese{
    width:100%;
    height:38px;
    line-height: 38px;
    font-size:12px;
    border:1px solid #E0E0E0;
    box-shadow:0px 2px 5px #f1ede6;
    margin-top:10px;
}
.tabulation .listing .num{
    padding-left:10px;
    width:14%;
}
.tabulation .listing .tel{
    width:12.5%;
}
.tabulation .listing .name{
    width:14%;
}
.tabulation .listing .price{
    width:8.5%;
}
.tabulation .listing .sprice{
    width:8.5%;
}
.tabulation .listing .other{
    width:8%;
}
.tabulation .listing .htime{
    width:14%;
}
.tabulation .listing .drice{
    width:14.5%;
}
.tabulation .page{
    width:100%;
    height:21px;
    bottom:0px;
    left:0px;
    text-align: center;
    line-height: 21px;
    margin:40px 0px 0px 0px;
}
.tabulation .page span{
    padding: 0px 5px;
    font-size: 16px;
    margin-right: 8px;
    cursor:pointer;
    display:inline-block;
}
.tabulation .page span.dig{
    background-color: #569DFF;
    color:#ffffff;
}

@media screen and (max-width: 1340px) {
    .tabulation .raise .num{width:12.2%}
    .tabulation .raise .price {
        width:7.5%;
    }
}