<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title>修改支付密码--验证原密码</title>
		<link rel="stylesheet" href="../../static/gold/css/public.css" />
		<link rel="stylesheet" href="../../static/gold/css/recycleHead.css" />
		<link rel="stylesheet/less" href="../../static/gold/css/changePwdOld.less">
		<script src="../../static/gold/js/rem.js"></script>
		<script src="../../static/gold/js/jquery-1.11.1.min.js"></script>
		<script src="../../static/gold/js/less.min.js"></script>
	</head>
	<body>
		<header>
			<a href="javascript:;" class="FirstA">
				<img src="../../static/gold/img/header-img1.png" />
				<p>返回</p>
			</a>
			<h1>修改支付密码</h1>
		</header>
		<div class="verification">
			<h1>验证原支付密码</h1>
			<input type="password" maxlength="6" class="oldPassword">
			<button class="oldPwdBtn">确认</button>
		</div>
	</body>
</html>
