<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title>贵金属交易记录</title>
		<link rel="stylesheet" href="../../static/gold/css/public.css" />
		<link rel="stylesheet" href="../../static/gold/css/recycleHead.css" />
		<link rel="stylesheet" href="../../static/gold/css/TradingRecord.css" />
		<link rel="stylesheet" href="../../static/gold/css/recycleFoot.css" />
	</head>
	<body>
		<header>
			<a href="javascript:;"  onClick="javascript :history.back(-1);" class="FirstA">
				<img src="../../static/gold/img/header-img1.png" />
				<p>返回</p>
			</a>
			<h1>贵金属交易记录</h1>
		</header>
		<div class="No"></div>		
		<script type="text/javascript" src="../../static/gold/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../../static/m/ajax/r_common.js"></script>
		<script type="text/javascript" src="../../static/gold/js/rem.js"></script>	
		<script type="text/javascript">
		metalOrdre.dealRecord();
	</script>
	</body>
</html>
