<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title>网银支付未绑定银行卡</title>
		<link rel="stylesheet" href="../../static/gold/css/public.css" />
		<link rel="stylesheet" href="../../static/gold/css/recycleHead.css" />
		<link rel="stylesheet/less" href="../../static/gold/css/IntbankSelectPay.less">
		<script src="../../static/gold/js/rem.js"></script>
		<script src="../../static/gold/js/jquery-1.11.1.min.js"></script>
		<script src="../../static/gold/js/less.min.js"></script>
	</head>
	<body>
		<header>
			<a href="javascript:;" class="FirstA">
				<img src="../../static/gold/img/header-img1.png" />
				<p>返回</p>
			</a>
			<h1>选择银行卡</h1>
		</header>
		<div class="NoBind">
			<p>添加银行卡</p>
		</div>
	</body>
</html>
