<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title>回收订单-订单详情</title>
		<link rel="stylesheet" href="../../static/gold/css/public.css" />
		<link rel="stylesheet" href="../../static/gold/css/recycleHead.css" />
		<link rel="stylesheet/less" href="../../static/gold/css/listRecycleAll.less">
		<script src="../../static/gold/js/rem.js"></script>
		<script src="../../static/gold/js/jquery-1.11.1.min.js"></script>
		<script src="../../static/gold/js/less.min.js"></script>
	</head>
	<body>
		<header>
			<a href="../../index.php/nonstandard/center/ViewCenter" class="FirstA">
				<img src="../../static/gold/img/header-img1.png" />
				<p>返回</p>
			</a>
			<h1>回收订单</h1>
		</header>
		<div class="recycle">
			<a>数码回收</a>
			<a>贵金属回收</a>
			<a>已完成订单</a>
		</div>
		<div class="accomplishList">
			<h1>已完成订单</h1>
			<!--贵金属-->
			<div class="list">
				<div class="list_left">
					<p class="goldNum">24K黄金</p>
					<p class="goldMoney">3.65/回收估价¥1120.23</p>
					<p class="listTime">2016.03.05  12:23:43</p>
				</div>
				<div class="list_right">等待预支付</div>
				<a href="javascript:;" class="list_a">查看报价</a>
			</div>
			<!--手机待交易-->
			<div class="list">
				<div class="list_left">
					<p class="goldPhone">三星 GALAXY Note2</p>
					<p class="goldMoney">已报10人</p>
					<p class="listTime">2016.03.05  12:23:43</p>
				</div>
				<div class="list_right">待交易</div>
				<a href="javascript:;" class="list_a">订单详情</a>
			</div>
			<!--手机待评价-->
			<div class="list_c">
				<div class="list_left">
					<p class="goldPhone">三星 GALAXY Note2</p>
					<p class="goldMoney">成交金额：¥1120</p>
					<p class="pingjia">刘师傅   13278670774</p>
					<p class="listTime">2016.03.05  12:23:43</p>
				</div>
				<div class="list_right">已成交</div>
				<a href="javascript:;" class="list_a">去评价</a>
			</div>
			<!--手机已取消-->
			<div class="list">
				<div class="list_left">
					<p class="goldPhone">联想 A380</p>
					<p class="goldMoney">回收商回应不及时</p>
					<p class="listTime">2016.03.05  12:23:43</p>
				</div>
				<div class="list_right">已取消</div>
				<a href="javascript:;" class="list_a">去评价</a>
			</div>
		</div>
	</body>
</html>
