<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title>回收订单Tab</title>
		<link rel="stylesheet" href="../../static/gold/css/public.css" />
		<link rel="stylesheet" href="../../static/gold/css/recycleHead.css" />
		<link rel="stylesheet/less" href="../../static/gold/css/listRecycleAll.less">
		<script src="../../static/gold/js/rem.js"></script>
		<script src="../../static/gold/js/jquery-1.11.1.min.js"></script>
		<script src="../../static/gold/js/less.min.js"></script>
		<script src="../../static/gold/js/listRecycleTab.js"></script>
	</head>
	<body>
		<header>
			<a href="../../index.php/nonstandard/center/ViewCenter" class="FirstA">
				<img src="../../static/gold/img/header-img1.png" />
				<p>返回</p>
			</a>
			<h1>订单详情</h1>
		</header>
		<div class="indent">
			<a>全部订单</a>
			<a>数码回收</a>
			<a class="indent_hover">贵金属回收</a>
			<a>已完成订单</a>
		</div>
		<div class="AllList">
			<!--贵金属回收-->
			<div class="accomplishList">
			<!--等待预支付-->
			<div class="list">
				<div class="list_left">
					<p class="goldNum">24K黄金</p>
					<p class="goldMoney">投资金额/5g</p>
					<p class="listTime">2016-03-05  12:23:43</p>
				</div>
				<div class="list_right">等待预支付</div>
				<a href="../../view/gold/metalinfo.html" class="list_a">订单详情</a>
			</div>
			<!--已预支付请发货-->
			<div class="list">
				<div class="list_left">
					<p class="goldNum">12K黄金</p>
					<p class="goldMoney">黄金饰品22g</p>
					<p class="listTime">2016-03-05  12:23:43</p>
				</div> 
				<div class="list_right">已预支付请发货 </div>
				<a href="javascript:;" class="list_a">订单详情</a>
			</div>
			<!--已成交-->
			<div class="list_c">
				<div class="list_left">
					<p class="goldNum">13K黄金<font>(含金量99%)</font></p>
					<p class="goldMoney">投资金条/38g</p>
					<p class="pingjia">成交价¥1120</p>
					<p class="listTime">2016-03-05  12:23:43</p>
				</div>
				<div class="list_right">已成交</div>
			</div>
			<!--已取消-->
			<div class="list">
				<div class="list_left">
					<p class="goldNum">24K黄金<font>(含金量99%)</font></p>
					<p class="goldMoney">投资黄金50g</p>
					<p class="listTime">2016-03-05  12:23:43</p>
				</div>
				<div class="list_right">已取消</div>
			</div>
		</div>
			<div class="accomplishList">
			<!--等待预支付-->
			<div class="list">
				<div class="list_left">
					<p class="goldNum">b22K黄金</p>
					<p class="goldMoney">投资金额/5g</p>
					<p class="listTime">2016-03-05  12:23:43</p>
				</div>
				<div class="list_right">等待预支付</div>
				<a href="javascript:;" class="list_a">订单详情</a>
			</div>
			<!--已预支付请发货-->
			<div class="list">
				<div class="list_left">
					<p class="goldNum">12K黄金</p>
					<p class="goldMoney">黄金饰品22g</p>
					<p class="listTime">2016-03-05  12:23:43</p>
				</div> 
				<div class="list_right">已预支付请发货 </div>
				<a href="javascript:;" class="list_a">订单详情</a>
			</div>
			<!--已成交-->
			<div class="list_c">
				<div class="list_left">
					<p class="goldNum">13K黄金<font>(含金量99%)</font></p>
					<p class="goldMoney">投资金条/38g</p>
					<p class="pingjia">成交价¥1120</p>
					<p class="listTime">2016-03-05  12:23:43</p>
				</div>
				<div class="list_right">已成交</div>
			</div>
			<!--已取消-->
			<div class="list">
				<div class="list_left">
					<p class="goldNum">24K黄金<font>(含金量99%)</font></p>
					<p class="goldMoney">投资黄金50g</p>
					<p class="listTime">2016-03-05  12:23:43</p>
				</div>
				<div class="list_right">已取消</div>
			</div>
		</div>
			<div class="accomplishList">
			<!--等待预支付-->
			<div class="list">
				<div class="list_left">
					<p class="goldNum">贵金属24K黄金</p>
					<p class="goldMoney">投资金额/5g</p>
					<p class="listTime">2016-03-05  12:23:43</p>
				</div>
				<div class="list_right">等待预支付</div>
				<a href="../../view/gold/metalinfo.html" class="list_a">订单详情</a>
			</div>
			<!--已预支付请发货-->
			<div class="list">
				<div class="list_left">
					<p class="goldNum">12K黄金</p>
					<p class="goldMoney">黄金饰品22g</p>
					<p class="listTime">2016-03-05  12:23:43</p>
				</div> 
				<div class="list_right">已预支付请发货 </div>
				<a href="../../view/gold/metalinfo.html" class="list_a">订单详情</a>
			</div>
			<!--已成交-->
			<div class="list_c">
				<div class="list_left">
					<p class="goldNum">13K黄金<font>(含金量99%)</font></p>
					<p class="goldMoney">投资金条/38g</p>
					<p class="pingjia">成交价¥1120</p>
					<p class="listTime">2016-03-05  12:23:43</p>
				</div>
				<div class="list_right">已成交</div>
			</div>
			<!--已取消-->
			<div class="list">
				<div class="list_left">
					<p class="goldNum">24K黄金<font>(含金量99%)</font></p>
					<p class="goldMoney">投资黄金50g</p>
					<p class="listTime">2016-03-05  12:23:43</p>
				</div>
				<div class="list_right">已取消</div>
			</div>
		</div>
			<div class="accomplishList">
			<!--等待预支付-->
			<div class="list">
				<div class="list_left">
					<p class="goldNum">2444K黄金</p>
					<p class="goldMoney">投资金额/5g</p>
					<p class="listTime">2016-03-05  12:23:43</p>
				</div>
				<div class="list_right">等待预支付</div>
				<a href="../../view/gold/metalinfo.html" class="list_a">订单详情</a>
			</div>
			<!--已预支付请发货-->
			<div class="list">
				<div class="list_left">
					<p class="goldNum">12K黄金</p>
					<p class="goldMoney">黄金饰品22g</p>
					<p class="listTime">2016-03-05  12:23:43</p>
				</div> 
				<div class="list_right">已预支付请发货 </div>
				<a href="../../view/gold/metalinfo.html" class="list_a">订单详情</a>
			</div>
			<!--已成交-->
			<div class="list_c">
				<div class="list_left">
					<p class="goldNum">13K黄金<font>(含金量99%)</font></p>
					<p class="goldMoney">投资金条/38g</p>
					<p class="pingjia">成交价¥1120</p>
					<p class="listTime">2016-03-05  12:23:43</p>
				</div>
				<div class="list_right">已成交</div>
			</div>
			<!--已取消-->
			<div class="list">
				<div class="list_left">
					<p class="goldNum">24K黄金<font>(含金量99%)</font></p>
					<p class="goldMoney">投资黄金50g</p>
					<p class="listTime">2016-03-05  12:23:43</p>
				</div>
				<div class="list_right">已取消</div>
			</div>
		</div>
		</div>
	</body>
</html>
