<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title>订单详情</title>
		<link rel="stylesheet" href="../../static/gold/css/public.css" />
		<link rel="stylesheet" href="../../static/gold/css/recycleHead.css" />
		<link rel="stylesheet/less" href="../../static/gold/css/listWaitSendoutCancel.less">
	</head>
	<body>
		<header>
			<a href="/index.php/nonstandard/order/ViewOrder" class="FirstA"><!--javascript:history.go(-1);-->
				<img src="../../static/gold/img/header-img1.png" />
				<p>返回</p>
			</a>
			<h1>订单详情</h1>
		</header>
		<div class="alreadyPay">
			<!-- <p>订单编号：7364892481740197413</p>
			<div>
				<h1>24K黄金</h1>
				<h2>商家修改价格，请确认</h2>
			</div>
			<p>3.65/回收估价 ¥1120.23</p>
			<span>2016.03.05  12:23:43</span> -->
		</div>
		<h1 class="productMessage_h1">产品信息</h1>
		<div class="productMessage">
			<div class="product">
				<!-- <p>回收品类：黄金</p>
				<p>交易方式：库存</p> -->
			</div>
			<div class="message">
				<!-- <p>纯度： 24K、99.99%</p>
				<p>单价： 281/克</p>
				<p>分类： 投资金条</p>
				<p>克数： 8</p> -->
			</div>
		</div>
		<!--回收估价回收预支付-->
		<div class="pinventoryMoney">
			
		</div>
		<div class="PMmoney">
			<!-- <p>回收商修改报价为</p>
			<p>¥2111元</p>
			<p>未确认</p> -->
		</div>
		<h1 class="productMessage_h1">收货信息</h1>
		<div class="RInformation">
			<P>名称： 回收通</P>
			<p>地址：  北京市朝阳区北四环千鹤家园1号楼904</p>
			<p>电话： 010-88888888</p>
		</div>
		<div class="relation"><!--联系客服-->
			联系客服：400-641-5080
		</div>
		<footer class="footer">
		
		</footer>
	</body>
	<script type="text/javascript" src="../../static/gold/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../../static/gold/js/less.min.js"></script>
	<script type="text/javascript" src="../../static/m/ajax/r_common.js"></script>
	<script type="text/javascript" src="../../static/gold/js/rem.js?v=2017040801"></script>	
	<script type="text/javascript">
		var id=getUrlParam('id');
		metalOrdre.orderInfo(2,id);
	</script>
</html>
