<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title>修改原支付密码</title>
		<link rel="stylesheet" href="../../static/gold/css/public.css" />
		<link rel="stylesheet" href="../../static/gold/css/recycleHead.css" />
		<link rel="stylesheet/less" href="../../static/gold/css/changePassword.less">
		<script src="../../static/gold/js/rem.js"></script>
		<script src="../../static/gold/js/jquery-1.11.1.min.js"></script>
		<script src="../../static/gold/js/less.min.js"></script>
		<script src="../../static/gold/js/changePassword.js"></script>
	</head>
	<body>
		<header>
			<a href="javascript:;" class="FirstA">
				<img src="../../static/gold/img/header-img1.png" />
				<p>返回</p>
			</a>
			<h1>修改密码</h1>
		</header>
		<div class="bindPhone">
			<p>已绑定手机号：</p>
			<span>15201055373</span>
		</div>
		<div class="VerificationCode">
			<P class="changePwd_p">验证码</P>
			<input type="text" placeholder="请输入手机验证码" >
			<button>获取验证码</button>
		</div>
		<p class="Prompt">提示：验证过程中遇到问题请拨打 <a href="javascript:;">400-641-5080</a>  咨询</p>
		<button class="modificationPayPwd">确认</button>
	</body>
</html>
