<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title>支付方式-现货-余额不足</title>
		<link rel="stylesheet" href="../../static/gold/css/public.css" />
		<link rel="stylesheet" href="../../static/gold/css/recycleHead.css" />
		<link rel="stylesheet/less" href="../../static/gold/css/paySpotgoods.less">
		<script src="../../static/gold/js/rem.js"></script>
		<script src="../../static/gold/js/jquery-1.11.1.min.js"></script>
		<script src="../../static/gold/js/less.min.js"></script>
		<script src="../../static/gold/js/recharge.js"></script>
		<script src="../../static/gold/js/paySpotgoods.js"></script>
	</head>
	<body>
		<header>
			<a href="javascript:;" class="FirstA">
				<img src="../../static/gold/img/header-img1.png" />
				<p>返回</p>
			</a>
			<h1>确认订单</h1>
		</header>
		<div class="particulars">
			<img src="../../static/gold/img/paySpotgoods.png">
			<span>
				<p>黄金</p>
				<p>24K</p>
				<p>99.99%</p>
			</span>
			<div>
				<p>¥2200</p>
				<p>现货+8g</p>
			</div>
		</div>
		<div class="payment">
			<ul>
				<li class="myLi">
					<img src="../../static/gold/img/recharge (1).png">
					<p>微信支付</p>
				</li>
				<li>
					<img src="../../static/gold/img/recharge (2).png">
					<p>支付宝支付</p>
				</li>
				<li>
					<img src="../../static/gold/img/recharge (3).png">
					<p>网银支付</p>
				</li>
			</ul>
			<span>
				<img src="../../static/gold/img/recharge(5).png">
					<p>余额支付</p>
					<b>账户余额：¥2200.00</b>
			</span>
		</div>
		<div class="remarks">
			<p>备注</p>
			<textarea placeholder="不超过30个字" maxlength="30"></textarea>
		</div>
		<footer>
			<button>确认支付</button>
		</footer>
		
	</body>
</html>

