<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title>充值</title>
		<link rel="stylesheet" href="../../static/gold/css/public.css" />
		<link rel="stylesheet" href="../../static/gold/css/recycleHead.css" />
		<link rel="stylesheet" href="../../static/gold/css/recharge.css" />
		<link rel="stylesheet" href="../../static/gold/css/rechargeSE.css" />
		<script src="../../static/gold/js/rem.js"></script>
		<script src="../../static/gold/js/jquery-1.11.1.min.js"></script>
	</head>
	<body>
		<header>
			<a href="javascript:;" class="FirstA">
				<img src="../../static/gold/img/header-img1.png" />
				<p>返回</p>
			</a>
			<h1>充值</h1>
		</header>
		<div class="Errorimg"></div>
		<h1 class="SE_h1">充值失败</h1>
		<p class="SE_p">银行卡余额不足 /充值金额超出银行限额等等</p>
		<div class="btn">
			<button>返回个人中心</button>
			<button>重新充值</button>
		</div>
	</body>
</html>