<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title>充值</title>
		<link rel="stylesheet" href="../../static/gold/css/public.css" />
		<link rel="stylesheet" href="../../static/gold/css/recycleHead.css" />
		<link rel="stylesheet" href="../../static/gold/css/recharge.css" />
		<link rel="stylesheet" href="../../static/gold/css/rechargeSE.css" />
		<script src="../../static/gold/js/rem.js"></script>
		<script src="../../static/gold/js/jquery-1.11.1.min.js"></script>
	</head>
	<body>
		<header>
			<a href="javascript:;" class="FirstA">
				<img src="../../static/gold/img/header-img1.png" />
				<p>返回</p>
			</a>
			<h1>充值</h1>
		</header>
		<div class="SEimg"></div>
		<h1 class="SE_h1">充值成功</h1>
		<p class="SE_p">请在个人中心-我的余额中查看</p>
		<button class="submit_j">确 认</button>
	</body>
</html>
