<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title>提货记录</title>
		<link rel="stylesheet" href="../../static/gold/css/public.css" />
		<link rel="stylesheet" href="../../static/gold/css/recycleHead.css" />
		<link rel="stylesheet/less" href="../../static/gold/css/pickGoodsRecord.less">
	</head>
	<body>
		<header>
			<a href="javascript:;" onClick="javascript :history.back(-1);" class="FirstA">
				<img src="../../static/gold/img/header-img1.png" />
				<p>返回</p>
			</a>
			<h1>提货记录</h1>
		</header>
		<span class="pickGoodNull"></span>
		<!-- <div class="pickGoodFinish">
			<div class="stateTime fl">
				<p>订单编号：43334569123578954</p>
				<h1 class="stateTime_finish">等待商家发货</h1>
			</div>
			<div class="goldCategory fl">
				<span>黄金    8g</span>
				<span>黄金    8g</span>
				<span>黄金    8g</span>
				<span>黄金    8g</span>
			</div>
			<div class="nameAdd fl">
				<p>田小田    13589890865</p>
				<p>北京市朝阳区北四环千鹤家园1号楼904</p>
			</div>
			<div class="stateTime fl">
				<p>下单时间：03-10   12:33</p>
				<span></span>提货中没有物流信息
			</div>
		</div>
		
		
		
		<div class="pickGoodFinish">
			<div class="stateTime fl">
				<p>订单编号：43334569123578954</p>
				<h1 class="stateTime_now">提货完成</h1>
			</div>
			<div class="goldCategory fl">
				<span>黄金    8g</span>
				<span>黄金    8g</span>
				<span>黄金    8g</span>
				<span>黄金    8g</span>
			</div>
			<div class="nameAdd fl">
				<p>田小田    13589890865</p>
				<p>北京市朝阳区北四环千鹤家园1号楼904</p>
			</div>
			<div class="stateTime fl">
				<p>下单时间：03-10   12:33</p>
				<span>顺丰速运：67823892740</span>
			</div> -->
		</div>
		<script type="text/javascript" src="../../static/gold/js/jquery-1.11.1.min.js"></script>		
		<script type="text/javascript" src="../../static/gold/js/less.min.js"></script>
		<script type="text/javascript" src="../../static/m/ajax/r_common.js"></script>
		<script type="text/javascript" src="../../static/gold/js/rem.js"></script>
		<script type="text/javascript">
			metalOrdre.stockRecord();
		</script>
	</body>
</html>
