<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title>买入完成-库存加</title>
		<link rel="stylesheet" href="../../static/gold/css/public.css" />
		<link rel="stylesheet" href="../../static/gold/css/recycleHead.css" />
		<link rel="stylesheet" href="../../static/gold/css/TRmetalDeal.css" />
		<script src="../../static/gold/js/rem.js"></script>
		<script src="../../static/gold/js/jquery-1.11.1.min.js"></script>	
		<script src="../../static/gold/js/TRdetalDeal.js"></script>
	</head>
	<body>
		<header>
			<a href="../../view/gold/metaldeal.html" class="FirstA">
				<img src="../../static/gold/img/header-img1.png" />
				<p>返回</p>
			</a>
			<h1>黄金交易</h1>
		</header>
		<h1 class="addGold_h1">
			<img src="../../static/gold/img/addGold_03.png">黄金库存+8g
			<!--<img src="../../static/gold/img/pickUpFinish.png">黄金库存-8g-->
		</h1>
		<div class="AddGold">
			<p>交易价格：283.73/克</p>
			<p>买入数量：8g</p>
			<!--卖出数量      买入数量：8g-->
			<p>交易金额：¥2536.84</p>
		</div>
		<a href="../../view/gold/metaldeal.html" class="pBtn">查看我的贵金属</a>
	</body>
</html>
