<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>确认订单</title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <link rel="stylesheet" type="text/css" href="../../static/shop/css/cssReset.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/shop/css/payment.css"/>
</head>
<body>
<div class="satnav">
    <a class="back" href="javascript:;">返回</a>
    <span>确认订单</span>
</div>
<div class="full-top"></div>

<div class="content">
    <div class="dimension">
        <p class="brief">
            <span>商品名称：</span>
            <span class="name">优酷土豆黄金会员</span>
        </p>
        <p class="brief">
            <span>订单编号：</span>
            <span class="name">2016232323</span>
        </p>
        <p class="brief">
            <span>收货地址：</span>
            <span class="name">北京市朝阳区千鹤家园</span>
        </p>
        <p class="brief">
            <span>收&nbsp货&nbsp人：</span>
            <span class="name">田小田</span>&nbsp
            <span class="name">18564325632</span>
        </p>
        <p class="brief">
            <span>商品金额：</span>
            <span class="price">￥99 + 300通花</span>
        </p>
    </div>
</div>

<div class="defray">
    <div class="tips">
        扫码付款
        <div class="line-left"></div>
        <div class="line-right"></div>
    </div>
    <div class="code" align="center">
        <div class="print">
            <img src="../../static/shop/images/code.jpg"/>
        </div>
    </div>
</div>
</body>
</html>