<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1" />
    <title>APP下载</title>
    <script src="../../static/home/js/f_js.js"></script>
    <link rel="stylesheet" href="../../static/home/css/f_style.css"/>
    <link rel="stylesheet" href="../../static/home/css/fn_appdownload.css"/>
</head>
<body>
<div class="BLbox">
    <header class="XDheader">
        <div class="main tc oh">
            <a href="javascript:history.go(-1)" class="fl aBack"></a>
            <span>App下载</span>
        </div>
    </header>
<div class="appBox">
        <div class="logoImg"><img src="../../static/home/images/hstlogo.png" alt=""/></div>
        <div class="banBen">版本V1.0</div>
        <div class="guiding main">
                    <p>点击右上角,浏览器打开下载
        </div>
        <a href="javascript:window.open('http://a.app.qq.com/o/simple.jsp?pkgname=com.recycling');" class="btnAn">Android版下载</a>
        <a href="javascript:;" class="site">http://www.recytl.com</a>
</div>
</div>
</body>
</html>