<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <link rel="stylesheet" type="text/css" href="/static/m/css/cssReset.css"/>
    <link rel="stylesheet" type="text/css" href="/static/m/css/withdrawCash.css"/>
</head>
<body>
<div class="backdrop">
    <img src="/static/m/images/bg.jpg"/>
    <a class="backBtn" href="javascript:;" onclick="javascript:history.back(-1)">返回</a>
</div>
</body>
</html>