<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>等待报价</title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
    <link rel="stylesheet" type="text/css" href="../../static/m/css/cssReset.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/m/css/waitOffer.css"/>
</head>
<body>
<div class="satnav">
    <a class="back" href="JavaScript:history.back(1);">返回</a>
    <span>等待报价</span>
</div>
<div class="full"></div>
<div class="content">
    <div class="print fl"></div>
    <p class="hint">您的批量回收订单已提交成功<br />稍后会有工作人员联系您...</p>
</div>
<div class="handle">
    <a class="return" href="/index.php/nonstandard/system/welcome">返回首页</a>
</div>
</body>
</html>