<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../static/welfare/css/member.css"/>
	</head>
	<body>
		<!--活动结束-->
		<div class="member">
			<h1 class="oldNewc">亲爱的回收通用户小彤彤</h1>
			<h2 class="oldNewd">本次活动已结束</h2>
			<a class="mem_a">
				<span class="mem_nf"></span>
				<span class="mem_nf_a">成为年费会员</span>
			</a>
		</div>
		<script>
			window.onload=window.onresize=function(){
				document.documentElement.style.fontSize=window.innerWidth/16+'px';
			};
		</script>
		<script src="../../static/welfare/js/jquery-1.11.1.min.js"></script>
	</body>
</html>
