<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../../static/welfare/css/member.css"/>
	</head>
	<body>
		<!--领取会员-->
		<div class="member">
			<h1 class="oldNew"><b>/</b>回收通新老会员大礼包<b>/</b></h1>
			<h2 class="oldNewb">新老会员免费领取一起赚钱</h2>
			<input type="text" class="tel memInp" placeholder="输入手机号码领取" id="" >
			<a class="btn memInp " href="javascript:;" onclick="checkphone();">立即领取</a>
		</div>
<script>
	window.onload=window.onresize=function(){
		document.documentElement.style.fontSize=window.innerWidth/16+'px';
	};
</script>
<script type="text/javascript" src="../../static/welfare/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../static/article/ajax/request_common.js"></script>
<script type="text/javascript" src="../../static/welfare/ajax/request_member.js"></script>
<!-- <script type="text/javascript">
    var code=getUrlParam('code');
    var from = getUrlParam('from');
    getphone(code);
</script> -->
</body>
</html>
