<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
		<title>我的奖金</title>
		<link rel="stylesheet" href="../../static/gold/css/public.css" />
		<link rel="stylesheet" href="../../static/welfare/css/myBonus.css" />
	</head>
	<body>
		<header>
			<a href="javascript:;" class="head_a" onClick="javascript :history.back(-1);">
				<b class="left"></b>
				<p>返回</p>
			</a>
			<h1>我的奖金</h1>
			<a href="javascript:;" class="head_help">
				<b class="right"></b>
				<p>帮助</p>
			</a>
		</header>
		<div class="first">
			<div class="first_left">
				<a class="contA">
					<span></span>
				</a>
			</div>
			<div class="first_center">
				<img class="photo" />
				<p>大叔乐一呵</p>
				<p>会员体验至2017年10月1日</p>
			</div>
			<div class="first_right">
				<a class="contA" href="../../view/welfare/ranking.html">
					<span></span>
				</a>
			</div>
			<div class="earnings">
				<p class="earnings_p">
					<span>我的收益</span>
					<span>¥232.2</span>
				</p>
				<p class="earnings_p">
					<span>已结算收益</span>
					<span>¥232.2</span>
				</p>
				<p class="earnings_p">
					<span>待结算收益</span>
					<span>¥232.2</span>
				</p>
			</div>
		</div>
		<div class="earnings_list">
			<h1>— 收益列表 —</h1>
			<div class="earCont">
				<img src="../../static/welfare/img/earningsC.png">
				<p class="earContDetails">
					<span><s>1325533****</s><s>爱奇艺会员/15.9元</s></span>
					<span>2016-08-13</span>
				</p>
				<p class="earContMoney">+<font>0.5</font>元</p>
			</div>
			<div class="earCont">
				<img src="../../static/welfare/img/earningsC.png">
				<p class="earContDetails">
					<span><s>1325533****</s><s>爱奇艺会员/15.9元</s></span>
					<span>2016-08-13</span>
				</p>
				<p class="earContMoney">+<font>0.5</font>元</p>
			</div>
			<div class="earCont">
				<img src="../../static/welfare/img/earningsL.png">
				<p class="earContDetails">
					<span><s>1325533****</s><s>苹果6</s><s>1500元</s></span>
					<span>2016-08-13</span>
				</p>
				<p class="earContMoney">+<font>0.5</font>元</p>
			</div>
			<div class="earCont">
				<img src="../../static/welfare/img/earningsL.png">
				<p class="earContDetails">
					<span><s>1325533****</s><s>苹果6</s><s>1500元</s></span>
					<span>2016-08-13</span>
				</p>
				<p class="earContMoney">+<font>0.5</font>元</p>
			</div>
		</div>
	</body>
	<script>
		window.onload=window.onresize=function(){
			document.documentElement.style.fontSize=window.innerWidth/16+'px';
		}
	</script>
</html>
