<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
		<link rel="stylesheet" type="text/css" href="../../static/m/css/cssReset.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/m/css/aPage.css"/>
	</head>
	<body>
		<div class="topPic"><img src="../../static/m/images/topPic.png" width="100%"/></div>
		<div class="conBox clearfix">
			<div class="conLeft fl">
				<p>现在注册签到就送</p>
				<span class="red"><img src="../../static/m/images/red.png" width="95%"/></span>
				<p>邀请好友还有更多奖励</p>
				<div class="indexPic"><img src="../../static/m/images/indexPic.png" width="100%"/></div>
				<div class="text">
					<p class="title">寄售通 • 奢侈品</p>
					<p class="textCon">是“互联网+实体”模式的二手奢侈品交易平台，为消费者提供优质便捷的二手奢侈品寄售、回收以及购买洗护服务</p>
				</div>
			</div>
			<div class="conRight fr">
				<div class="wechat">
					<p><img src="../../static/m/images/erweima.png" width="80%"/></p>
					<p class="text">扫一扫关注我们</p>
				</div>
				<div class="text">
					<p class="title">回收通 • 数码</p>
					<p class="textCon">“互联网+回收”闲置资源交易平台,大家可以在回收通平台高价快速卖闲置手机</p>
				</div>
				<div class="indexPic"><img src="../../static/m/images/jishoutong.png" width="100%"/></div>
			</div>
		</div>
		<div class="bot">
			北京知通科技有公司
		</div>
	</body>
</html>
