@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style-type: none;
}
a{ text-decoration:none;}

.block_home_slider {position: relative;background-color: #ffffff; height:143px; overflow:hidden;text-align: center;line-height: 0px;margin-right: auto;margin-left: auto;
}  /*�ײ�Сͼ��*/

.block_home_slider .slide {position:relative;}
.block_home_slider .caption {padding:13px 16px 12px; position:absolute; left:0px; right:0px; bottom:0px; background:url(../images/bg_caption.png); text-align:left;}
.block_home_slider .caption p {padding-bottom:0px; font-size:11px; color:#dedede; text-shadow:0px -1px #000000; line-height:17px;}
.block_home_slider .caption p.title {padding-bottom:6px; font-size:15px; color:#ffffff; font-weight:bold; line-height:normal;}
.block_home_slider .flex-direction-nav a {width:25px; height:25px; margin-top:-27px; display:block; position:absolute; top:50%; text-indent:-9000px;}/*background-image:url(sprite_arrow_2.png);background-repeat:no-repeat; */
.block_home_slider .flex-direction-nav a.flex-prev {left:6px; background-position:left top;}
.block_home_slider .flex-direction-nav a.flex-prev:hover {background-position:left bottom;}
.block_home_slider .flex-direction-nav a.flex-next {right:6px; background-position:right top;}
.block_home_slider .flex-direction-nav a.flex-next:hover {background-position:right bottom;}
.block_home_slider .flex-control-paging {padding-top:15px; display:inline-block; position:absolute; bottom:20px; }
.block_home_slider .flex-control-paging li {margin: 0px;padding: 0px;float: left;overflow: hidden;list-style-type: none;}
.block_home_slider .flex-control-paging li a {width:16px; height:16px; display:block; background-repeat:no-repeat; background-image:url(../images/sprite_nav_3.png); text-indent:-9000px; cursor:pointer; margin:0 2px;}
.block_home_slider .flex-control-paging li a.flex-active {background-position:right top;}
.block_home_post_feature {width:300px;}
.block_home_post_feature p {padding-bottom:0px;}
.flexslider {margin: 0; padding: 0; height:145px; overflow:hidden;}
.flexslider .slides > li {display: none;-webkit-backface-visibility: hidden;list-style-type: none;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}
.both{ width:auto; height:auto; overflow:hidden; background:#f5f4f9;}
.h20{ background:#f5f4f9; height:20px; width:100%; overflow:hidden;}

.index_two{ width:auto; height:auto; overflow:hidden; margin:10px;}
.index_two span{ display:block; overflow:hidden; float:left;}
.index_twonav{ width:28%; height:16px; border-bottom:1px solid #dddddd;}
.index_twotitle{ height:30px; line-height:30px; font-size:14px; width:25%; color:#656565;background: url(../images/carefor.png) 15px center no-repeat; padding-left:40px }
.receive{background: url(../images/receive.png) left center no-repeat; float:right;  }
.carefor{background: url(../images/carefor.png) left center no-repeat; float:left; margin-left:10px;  }
.my_one{width:100%; height:auto; overflow: hidden; background:#fff; padding-bottom:10px; margin-top:10px;}
.my_one a{ display:block; width:32%; height:80px;  overflow:hidden; float:left; padding:10px  0; }
.my_one a p{ font-size:14px;  color:#8c8c8c; text-align:center; height:30px; line-height:30px;}
.my_jyf{background:#f7f7f7 url(../images/jyf.png) center 45px no-repeat; margin-right:2%;}
.my_sm{background:#f7f7f7 url(../images/smhs.png) center 45px no-repeat; margin-right:2%;}
.my_scp{background:#f7f7f7 url(../images/scp.png) center 45px no-repeat; }
.my_two{ width:100%; height:auto; overflow: hidden; border-top:1px solid #e0e0e0; margin-top:30px; }
.my_two a{ display:block; width:33%; height:50px; overflow:hidden; float:left; padding:15px 0; border-right:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0;}
.my_two a span{ display:block; font-size:12px; margin:30px 0 0 0; overflow:hidden; text-align:center; color:#c3c3c3;}

.task{background:url(../images/task.png) center 15px no-repeat;}
.myre{background:url(../images/myre.png) center 15px no-repeat;}
.percen{background:url(../images/percen.png) center 15px no-repeat;}
.about{background:url(../images/about.png) center 15px no-repeat;}