/*登录页面 login.html css*/
html,body{width:100%; height:100%;}
.Lbox{width:100%; height:100%; background:#f0eff5; text-align: center;}
.Lform{width:100%; height:auto; font-size:0.04375rem;}
.Lform div{border-bottom:1px solid #ccc; background:#fff; padding:0.04rem 0; text-align: left;}
.Lform .fname,.Lform .fma{margin-left:0.1rem; width:0.35rem; }
.Lform .fbtn{background:#49becd; color:#fff; width:0.9rem; height:0.134rem; margin-top:0.1625rem; border-radius:0.01rem;}
.Lform .fhuo{color:#49becd; border:1px solid #49becd; width:0.26875rem; height:0.07rem;  border-radius:0.035rem; margin-left:0.05rem;}
/*搜索页面 search.html*/
/*头部*/
.XDheader{width:100%; height:auto; background:#49becd;}
.XDheader div{ height:0.05rem;padding:0.04375rem 0;font-size:0.05rem; color:#fff;}
.ff5{width:100%; height:0.046875rem; border-bottom:1px solid #ccc; background:#f0eff5;}
.ffborTop{ border-top:1px solid #ccc;}
/*内容*/
.Sheader{width:100%; height:auto; background:#f8f8f8; border-bottom:1px solid #b5b5b5; position:relative;}
.Sheader .back{ width:0.0375rem; height:0.09rem; padding:0.04375rem 0; font-size:0; margin-left:0.02rem;}
.Sheader .search{ width:0.7rem; height:0.08rem; line-height: 0.08rem; border:1px solid #b5b5b5; margin:0.04375rem 0 0.04375rem 0.025rem ; background: #fff; font-size:0;}
.Sheader .QuXiao{ height:0.09rem; line-height:0.09rem; padding:0.04375rem 0; font-size:0.045rem; color:#ffbf03; margin-right:0.02rem;}
.Sheader .search .Schoose{width:auto; min-width:0.1rem; padding-left:0.01rem; padding-right:0.03rem; height:100%; font-size:0;
background: url(../images/downh.png) no-repeat right center; background-size:0.03rem 0.015625rem;}
.Sheader .search .fr{width:0.1rem; height:100%; background: url(../images/cha.png) no-repeat center; background-size:0.047rem;}
.Sheader .search .inputbox{width:0.38rem; padding-left:0.02rem; height:100%; font-size:0.03rem;}
.Sheader .search .Schoose span{font-size:0.03rem; color:#ffbf03;}
/*内容*/
.selectBox{width:100%; height:auto;  max-height:2rem; overflow-y: auto; position:absolute; left:0; top:0.1775rem; background:#b5b5b5; padding-bottom:0.05rem; display: none;}
.selectBox p:nth-of-type(1){border-top:1px solid #ccc;}
.selectBox p{width:100%; height:0.14rem; line-height: 0.14rem; text-align: center; font-size: 0.04rem; border-bottom: 1px solid #ccc; color:#000;}
/*搜索记录*/
.searchKuai{height:auto; width:94%; margin:0 auto; color:#999; background: #fff; padding-top:0.05rem;}
.searchKuai h1{font-size: 0.05rem; text-align:center; height:0.15rem; line-height: 0.15rem;}
.hisName{width:100%; height:auto; font-size: 0;}
.hisName span{display: inline-block; width:50%; height:0.1rem; line-height: 0.1rem; text-align: left; font-size: 0.04rem; border-bottom:1px solid #ccc;}
.histBox h1{ background:url("../images/history.png") no-repeat 0.3rem center;}
.huoBox h1{ background:url("../images/huo.png") no-repeat 0.3rem center;}
/*搜索提示框*/
.TiShiBox{position:absolute; left:0.112rem; top:0.126rem; background: #ccc; width:0.706rem;  font-size: 0; height:auto; display: none;}
.TiShiBox p{height:0.1rem; line-height: 0.1rem;font-size: 0.034rem; border-bottom: 1px solid #ccc; color:#000; text-align: left; padding-left:0.05rem;}