html,body{
    margin:0px;
    padding:0px;
    font-family: Microsoft YaHei;
    background-color: #F1F1F1;
}
a{ color:#444; text-decoration:none;hidefocus="true"}
.navigation{
    width:100%;
    height:44px;
    background-color: #58AB22;
    position: fixed;
}
.navigation .homepage{
    width:90px;
    height:44px;
    line-height: 44px;
    float:left;
}
.navigation .homepage span{
    background-image: url(../images/gamelist/more.png);
    background-repeat: no-repeat;
    background-size: 9px 17px;
    font-size: 16px;
    color:#ffffff;
    padding-left:15px;
    margin-left: 16px;
    background-position: left center;
}
.navigation .help{
    width:90px;
    height:44px;
    line-height: 44px;
    text-align: right;
    float:right;
}
.navigation .help span{
    background-image: url(../images/gamelist/ong.png);
    background-repeat: no-repeat;
    background-size: 20px 19px;
    font-size: 12px;
    color:#ffffff;
    padding: 2px 0px 2px 25px;
    margin-right: 16px;
    background-position: left center;
}
.navigation .theme{
    height:44px;
    margin:0px 90px 0px 90px;
    color:#ffffff;
    font-size: 18px;
    text-align: center;
    line-height: 44px;
}
.full-head{
    width: 100%;
    height: 44px;
}
.box{
    width:100%;
    height:96px;
    border-bottom: 1px solid #E3E3E3;
    background-color: #ffffff;
    margin-top: 8px;
}
.box.first{
    height:96px;
    margin-top: 5px;
}
.box .container{
    width:100%;
    height:95px;
    border-bottom: 1px solid #F1F1F1;
}
.box .container .lcon{
    width:90px;
    height:95px;
    float:left;
}
.box .container .lcon .game-icon{
    width:60px;
    height:60px;
    background-size: 60px 60px;
    margin:17.5px 16px;
}
.box .container .lcon .game-icon img{
    width:100%;
    height:100%;
    float:left;
}
.box .container .playing{
    width:85px;
    height:95px;
    float:right;
}
.box .container .playing .playing-game{
    width:62px;
    height:60px;
    padding:17.5px 0px 17.5px 8px;
}
.box .container .playing .playing-game .play-btn{
    display:block;
    text-decoration: none;
    width:100%;
    height:28px;
    border-radius:6px;
    background-color: #58AB22;
    text-align: center;
    line-height: 28px;
    color:#ffffff;
    font-size: 12px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin:16px 0px;
}
.box .container .playing .playing-game .play-btn:active{
    background-color:  #22AB22;
}
.box .container .explain{
    height:95px;
    margin:0px 85px 0px 90px;

}
.box .container .explain .information{
    height:60px;
    padding:17.5px 0px 17.5px 0px;
}
.box .container .explain .information .title{
    width:100%;
    height:20px;
    line-height: 20px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-top: 5px;
}
.box .container .explain .information .title .game-name{
    font-size: 16px;
    color:#333333;
    font-family: Microsoft YaHei;
}
.box .container .explain .information .title .gamerule{
    font-size: 12px;
    color:#FC7E40;
    padding-left: 8px;
}
.box .container .explain .information .rulecontent{
    width:100%;
    height:26px;
    line-height: 26px;
    color:#888888;
    font-size: 12px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    margin-top: 3px;
}
.box .container .explain .information .gameplayer{
    width:100%;
    height:14px;
    overflow:hidden;
}
.box .container .explain .information .gameplayer .player{
    width:auto;
    height:14px;
    line-height: 14px;
    font-size:10px;
    color:#9C9C9C;
    float:left;
    padding-right:6px;
}
.box .container .explain .information .gameplayer .player .number{
    color:#68B13D;
}
