<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/task/task_two/css/public.css" />
    <link rel="stylesheet" type="text/css" href="/static/task/task_two/css/bounced.css" />
</head>
<body>
<div class="container">
    <div class="explain">
        <img src="/static/task/task_two/img/recap1.jpg"/>
    </div>
    <div class="explain">
        <img src="/static/task/task_two/img/recap2.jpg"/>
    </div>
    <div class="explain">
        <img src="/static/task/task_two/img/recap3.jpg"/>
    </div>
    <div class="explain">
        <img src="/static/task/task_two/img/recap4.jpg"/>
    </div>
    <div class="part" align="center">
        <a class="partake" href="/index.php/task/usercenter/taskcenter">立即参与>></a>
    </div>
</div>

</body>
</html>