<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>商城</title>
    <!-- Bootstrap -->
    <link href="../../static/c/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../static/c/css/cssReset.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/c/css/navTopLeft.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/c/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/c/css/mallSales.css"/>
</head>
<body>
<div class="navRuler">
    <div id="digitalCon" class="menu-content">
        <div class="box">
            <div class="title">商城</div>
            <div class="sysTitle">
                <div class="title01 fl current" onclick="sysTitle(this),title01()">
                    <span>奢侈品销售</span>
                </div>
                <div class="title02 fl" onclick="sysTitle(this),title02()">
                    <span>手机销售</span>
                </div>
                <div class="title02 fl" onclick="sysTitle(this),title03()">
                    <span>其他商品销售</span>
                </div>
            </div>

            <div id="luxurySale" class="tabulation">
                <div class="indication">
                    <div class="raise fl">
                        <div class="num fl">订单编号</div>
                        <div class="tel fl">用户手机号</div>
                        <div class="name fl">物品名称</div>
                        <div class="price fl">销售价格</div>
                        <div class="sprice fl">成本价格</div>
                        <div class="other fl">其他费用</div>
                        <div class="htime fl">销售时间</div>
                    </div>
                </div>

                <div class="write">
                <form id="datainfo">
                    <input id="number" name="number" type="text" class="entry fl"/>
                    <input id="tel" name="tel" type="text" class="entry fl"/>
                    <input id="names" name="names" type="text" class="entry fl"/>
                    <input id="sell" name="sell" type="text" class="entry fl"/>
                    <input id="price" name="price" type="text" class="entry fl"/>
                    <input id="rest" name="rest" type="text" class="entry fl"/>
                    <input id="stime" name="stime" type="text" class="entry fl"/>
                    <input class="conserve fr" type="button"  onclick="Sales.submit();" value="保存"/>
                </form>
                </div>

                <div class="listing">

                </div>
				<div class="pageNumber">
					<ul class="pagination">
					</ul>
				</div>
            </div>

            <div id="phoneSale" class="tabulation">
                <div class="indication">
                    <div class="raise fl">
                        <div class="num fl">订单编号</div>
                        <div class="tel fl">用户手机号</div>
                        <div class="name fl">物品名称</div>
                        <div class="price fl">销售价格</div>
                        <div class="sprice fl">成本价格</div>
                        <div class="other fl">其他费用</div>
                        <div class="htime fl">销售时间</div>
                    </div>
                </div>

                <div class="write">
                 <form id="phonesaleinfo">
                    <input id="number1" name="number" type="text" class="entry fl"/>
                    <input id="tel1" name="tel" type="text" class="entry fl"/>
                    <input id="names1" name="names" type="text" class="entry fl"/>
                    <input id="sell1" name="sell" type="text" class="entry fl"/>
                    <input id="price1" name="price" type="text" class="entry fl"/>
                    <input id="rest1" name="rest" type="text" class="entry fl"/>
                    <input id="stime1" name="stime" type="text" class="entry fl"/>
                    <input class="conserve fr" type="button" onclick="phonesaleinfo.submit();" value="保存"/>
                  </form>
                </div>

                <div class="listing">

                </div>
				<div class="pageNumber">
					<ul class="pagination">
					</ul>
				</div>
            </div>

            <div id="shopSale" class="tabulation">
                <div class="indication">
                    <div class="raise fl">
                        <div class="num fl">订单编号</div>
                        <div class="tel fl">用户手机号</div>
                        <div class="name fl">物品名称</div>
                        <div class="price fl">销售价格</div>
                        <div class="sprice fl">成本价格</div>
                        <div class="other fl">其他费用</div>
                        <div class="htime fl">销售时间</div>
                    </div>
                </div>

                <div class="write">
                 <form id="shopSaleinfo">
                    <input id="number2" name="number" type="text" class="entry fl"/>
                    <input id="tel2" name="tel" type="text" class="entry fl"/>
                    <input id="names2" name="names" type="text" class="entry fl"/>
                    <input id="sell2" name="sell" type="text" class="entry fl"/>
                    <input id="price2" name="price" type="text" class="entry fl"/>
                    <input id="rest2" name="rest" type="text" class="entry fl"/>
                    <input id="stime2" name="stime" type="text" class="entry fl"/>
                    <input class="conserve fr" type="button" onclick="shopSaleinfo.submit();" value="保存"/>
                  </form>
                </div>

                <div class="listing">

                </div>
				<div class="pageNumber">
					<ul class="pagination">
					</ul>
				</div>
            </div>

        </div>
    </div>
</div>


<script type="text/javascript" src="../../static/c/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../static/c/js/publicJS.js"></script>
<script type="text/javascript" src="../../static/c/js/laydate.js"></script>
<script type="text/javascript" src="../../static/c/js/mallSales.js"></script>
<script type="text/javascript" src="../../static/c/ajax/request_common.js"></script>
<script type="text/javascript" src="../../static/c/ajax/request_mallSales.js"></script>
<script type="text/javascript">
    load(17);

    laydate.skin('molv');
    var start = {
        elem: '#stime',
        format: 'YYYY-MM-DD hh:mm:ss',
        max: '2099.06.16 23:59:59', //最大日期
        istime: true,
        istoday: true
    };
    laydate(start);

    var start1 = {
        elem: '#stime1',
        format: 'YYYY-MM-DD hh:mm:ss',
        max: '2099.06.16 23:59:59', //最大日期
        istime: true,
        istoday: true
    };
    laydate(start1);

    var start2 = {
        elem: '#stime2',
        format: 'YYYY-MM-DD hh:mm:ss',
        max: '2099.06.16 23:59:59', //最大日期
        istime: true,
        istoday: true
    };
    laydate(start2);
</script>
</body>
</html>